name: test-tributors

on:
  pull_request:
    branches_ignore: []

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup black environment
        run: conda create --quiet --name black black pyflakes

      - name: Check formatting with black
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          black --check tributors

      - name: Check imports with pyflakes
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate black
          pyflakes tributors

  testing:
    needs: formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup testing environment
        run: conda create --quiet --name testing pytest

      - name: Test tributors
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate testing
          pip install .[all]
          pytest -sv tests/*.py
          /bin/bash tests/test_client.sh

  build:
    needs: testing
    runs-on: ubuntu-latest
    env:
      CONTAINER: quay.io/con/tributors
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker Image
        run: docker build -t "${CONTAINER}" .
      - name: Tag and Preview Container
        run: |
          DOCKER_TAG=$(docker run --entrypoint tributors "${CONTAINER}:latest" --version)
          echo "Docker tag is: ${DOCKER_TAG}"
          docker run --entrypoint tributors ${CONTAINER} --help
